body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        .container {
            width: 90%;
            max-width: 1000px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        header {
            display:flex;
            gap: 20px;
            background-color: #628870; /* Color institucional sugerido */
            color: white;
            padding: 15px 0;
            text-align: center;
            margin-bottom:0 ;
            justify-content: center
        }
        header h1 {
            margin: 0;
            font-size: 2.2em;
            letter-spacing: 1px;
        }
        header p {
            font-size: 1.1em;
            font-style: italic;
        }
        nav {
            background: #1c4923;
            overflow: hidden;
            margin-bottom: 20px;
        }
        nav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-weight: bold;
        }
        nav a:hover {
            background-color: #8ae478;
        }
        .section-title {
            color: #052e0e;
            border-bottom: 2px solid #ccc;
            padding-bottom: 5px;
            margin-top: 30px;
        }
        footer {
            margin-top: 40px;
            padding: 15px 0;
            text-align: center;
            font-size: 0.9em;
            border-top: 1px solid #ccc;
            color: #ffffff;
            background-color: #628870;
        }
        .highlight {
            background-color: #e6f7ff;
            padding: 15px;
            border-left: 5px solid #052e0e;
            margin: 20px 0;
        }
        .social-links a {
            display: inline-block;
            margin: 10px;
            padding: 5px 9px;
            background: #052e0e;
            color: white;
            text-decoration: none;
            border-radius: 6px;
            transition: background 0.3s ease;
        }
        .social-links a:hover {
            background: #8ae478;
        }
